div.loading-with-mask .modal-content {
  border: 0;
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

.modal {
  padding-top: 20%; }

  
.ng-cloak{display:none;}  

