<!DOCTYPE html>
<html lang="zh-CN" data-ng-app="laiyd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=no"/> 
<title>来运动</title>
<% include _jhead.ejs %>
</head>
<body class=" container">
<div ng-view>
</div>

<% include _jfoot.ejs %>
 <script src="http://www.laiyd.com/weixin/content/controllers/main.js"></script>

</body>
</html>