<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
	<a href="#/myAct" class="btn btn-default"><h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 我的活动</h4></a>
	<a href="#/search" class="btn btn-default"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找活动</h4></a>
	<a href="#/edit" class="btn btn-primary"><h4><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 发起活动</h4></a>
</div>
<hr />
<form name="actForm" class="form-horizontal" >
	<div class="form-group">
		<label class="col-xs-2 control-label">活动类型</label>
		<div class="col-xs-10">
			<select class="form-control col-sm-10" data-ng-model="activity.type">
				<option data-ng-repeat="value in types">{{value}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">活动日期</label>
		<div class="col-xs-10">
			<input type="date" class="form-control" data-ng-model="activity.date">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">开始时间</label>
		<div class="col-xs-10">
			<input type="time" class="form-control" data-ng-model="activity.startTime">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">结束时间</label>
		<div class="col-xs-10">
			<input type="time" class="form-control" data-ng-model="activity.endTime">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">活动地点</label>
		<div class="col-xs-10">
			<input type="text" class="form-control" data-ng-model="activity.address">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">活动内容</label>
		<div class="col-xs-10">
			<textarea rows="3" class="form-control" data-ng-model="activity.content"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label"
			title="活动人数少于最低人数时，活动将自动取消">人数限制</label>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-5">
					<input type="number" min="0" class="form-control" title="0表示不限制人数" data-ng-model="activity.minUsers">
				</div>
				<div class="col-xs-2">~</div>
				<div class="col-xs-5">
					<input type="number" min="0" class="form-control" title="0表示不限制人数" data-ng-model="activity.maxUsers">
				</div>
			</div>
		</div>

	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">费用总额</label>
		<div class="col-xs-10">
			<div class="input-group">
				<div class="input-group-addon">￥</div>
				<input type="number" class="form-control" min="0" data-ng-model="activity.amount">
				<div class="input-group-addon">.00</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-2 control-label">人员加入</label>
		<div class="col-xs-10">
			<select class="form-control col-sm-10" data-ng-model="activity.auditMethod">
				<option data-ng-repeat="value in ['自动通过','需要我批准']">{{value}}</option>
			</select>
		</div>
	</div>
</form>
{{activity}}
<button class="btn btn-primary btn-block" data-ng-click="onSave()"><span
	class="glyphicon glyphicon-floppy-save"></span> 保存</button>
<a href="#/mine" class="btn btn-warning btn-block"><span
	class="glyphicon glyphicon-remove"></span> 取消</a>